llm_config {
   "class": "ollama",
    "model_name": "llama3.1",
}
tools = [
  {
    name = "Single agent"
    instructions = "you are a chatbot assistant for python data analysis"
    command = "Answer in Step by step solutions"
  }
]